!!! 5
html
  head
    title Brewskipedia
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    !=mason('main.css')
  body
    h1 Brewskipedia
    h2 Wikipedia for beer.

    !=mason('vendor.js')
