// ko if: current.page().name === 'beer-details'
// ko with: current.beer
.page(data-bind='attr: { "class": "active"}')
  h2(data-bind='text: name + " by " + brewery.name')
  p(data-bind='text: abv + "% ABV"')
  p(data-bind='text: description')
  p
    a.btn(href='#/') Search Again
// /ko
// /ko