.pagination-container.clearfix
  a.btn.pagination.prev-page(data-bind='visible: current.previousPage, text: "Previous", attr: { "href": current.previousPage }') Previous Page
  a.btn.pagination.next-page(data-bind='visible: current.nextPage, text: "Next", attr: { "href": current.nextPage }') Next Page