// ko if: current.page().name === 'search-results'
.page(data-bind='attr: { class: "active" }')
  include pagination

  h2(data-bind='text: "Results for &#8220;" + current.searchQuery() + "&#8221;"')

  include error-handling

  // ko if: current.beerTotalDelayed() == 0
  include search-form
  // /ko

  // ko if: current.beers().length > 0
  .result-info
    // ko if: current.totalBeers() > 1
    p.total-beers(data-bind='text: current.totalBeers() + " beers found"')
    // /ko

    // ko if: current.totalBeers() === 1
    p.total-beers(data-bind='text: current.totalBeers() + " beer found"')
    // /ko

    p.pages(data-bind='text: "Page " + current.resultsPage() + " of " + current.totalResultsPages()')

  .result-container(data-bind='foreach: current.beers')
    .result
      h3
        a.result-title(data-bind='text: name, attr: { href: "#/beer/" + id }')
      p(data-bind='text: abv + "% ABV"')
      p(data-bind='text: brewery.name')

  include pagination
  // /ko
// /ko
