form(data-bind='submit: searchBrews')
  fieldset.locate-beer
    label.search-label(for='search') Find a beer&hellip;
    input#query.query(autofocus, data-bind='value: current.searchQuery')
    input.search.btn(type='submit', value='Search')