!!! 5
html
  head
    title Brewskipedia, the beer encyclopedia
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/css/main.css')
  body
    include loader
    .wrapper
      header(role='masthead')
        h1.title
          a(href='/#') Brewskipedia

      .content
        // ko ifnot: current.page().name
        .page(data-bind='attr: { class: "active" }')
            include error-handling
            include search-form
        // /ko
        include search-results
        include beer-details

    script(src='/js/vendor.js')
    script(src='/js/app.js')
