@import 'nib'

/** 
  * Fonts via Google Webfonts
  */
@font-face {
  font-family: 'Sail';
  font-style: normal;
  font-weight: 400;
  src: local('Sail'), local('Sail-Regular'), url('sail.woff') format('woff');
}

h1
  font-family 'Sail'
