!!! 5
html
  head
    title= locals.title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/css/main.css')
  body
    include loader
    .wrapper
      header(role='masthead')
        h1.title
          a(href='/#')= page.title

      .content
        // ko ifnot: current.page().name
        .page(data-bind='attr: { class: "active" }')
            include error-handling
            include search-form
        // /ko
        include search-results
        include beer-details

    script(src='/js/vendor/radio.js')
    script(src='/js/vendor/ender.js')
    script(src='/js/vendor/knockout.js')
    script(src='/js/vendor/knockout.mapping.js')
    script(src='/js/vendor/underscore-min.js')
    script(src='/js/config.js')
    script(src='/js/components/ui.js')
    script(src='/js/components/router.js')
    script(src='/js/components/api.js')
    script(src='/js/pages/SearchResults.js')
    script(src='/js/pages/BeerDetails.js')
    script(src='/js/init.js')
