!!! 5
html
  head
    title= locals.title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/css/main.css')
  body
    .wrapper
      header(role='masthead')
        h1.title
          a(href='/#')= page.title

      .content
        include search-form
        include search-results

    script(src='/js/vendor/ender.js')
    script(src='/js/vendor/knockout.js')
    script(src='/js/vendor/knockout.mapping.js')
    script(src='/js/vendor/underscore-min.js')
    script(src='/js/config.js')
    script(src='/js/components/ui.js')
    script(src='/js/components/router.js')
    script(src='/js/components/api.js')
    script(src='js/pages/SearchResults.js')
    script(src='/js/viewmodels/beer.js')
    script(src='/js/viewmodels/brewery.js')
    script(src='/js/init.js')