!!! 5
html
  head
    title= locals.title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/css/main.css')
  body
    .wrapper
      header(role='masthead')
        h1.title= page.title

      p Welcome to Brewskipedia! To begin, search for a beer or brewery. You may also browse existing brews and breweries  below.

      form
        fieldset.locate-beer
          label.search-label(for='search') Find a beer or brewery&hellip;
          input#query.query(autofocus)
          input.search.btn(type='submit', value='Search')

      div.col
        h1 Beer List
        ol.beer-list

      //- != page.html

      footer
        p &copy; 2013 Tessa Harmon
        ol(role='navigation')
          li
            a(href='#/about') About

    script(src='/js/vendor/ender.min.js')
    script(src='/js/vendor/knockout.js')
    script(src='/js/viewmodels/beer.js')
    script(src='/js/viewmodels/brewery.js')
    script(src='/js/init.js')
