!!! 5
html
  head
    title= locals.title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/css/main.css')
  body
    h1= page.title

    p Welcome to Brewskipedia. To begin, search for a beer or brewery. You may also browse existing brews and breweries  below.

    form
      fieldset
        label(for='search') Find a beer or brewery&hellip;
        input#search
        input(type='submit')

    != page.html

    footer
      p &copy; 2013 Tessa Harmon
      ol(role='navigation')
        li
          a(href='#/about') About
